{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Add Student</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <div class="container">

        <div class="form-card">

            <h1>Add Student</h1>

            <form method="POST">
                {% csrf_token %}

                {{ form.as_p }}

                <div class="form-buttons">

                    <button type="submit" class="btn btn-success">
                        Save Student
                    </button>

                    <a href="{% url 'student_list' %}" class="btn btn-secondary">
                        Cancel
                    </a>

                </div>

            </form>

        </div>

    </div>

</body>
</html>